mixin playerCard(player)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src='img/among-us-icon-light-green.png', alt='Extraordinarily sus')
      h6.reviews__user= player.player_name
    p.reviews__text So shady