//- extends layout

//- block content
form(action="." method="POST")
  label(for="groupName") Group Name:
  input(
    type="text"
    id="groupName"
    name="group name"
  )

  //- label(for="email") Email:
  //- input(
  //-   type="email"
  //-   id="email"
  //-   name="email"
  //- )

  input(type="submit" value="Submit")