extends base
include _playerCard

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src='/img/amongus.jpg', alt='So sus')

    .heading-box
      h1.heading-primary
        span=group[0].group_name
  section.section-reviews
    .reviews
      each player in players
        +playerCard(player)